@{
    ViewBag.Title = "系统帮助";
}
                    <section class="grid_12"> 
                        <div class="message info"  style="text-align:left" >
                            <h3>片区管理</h3> 
                            <p> 
                               片区经历，对片区进行管理，包括添加/删除片区、编辑片区对应数据信息，例如片区范围、片区内销售点情况等等。实现对销售点的划区域高效管理。
                            </p> 
                        </div>
                   </section> 
                   <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>销售点管理
</h3> 
                            <p> 
                               对销售点进行管理，包括添加/删除销售点、编辑销售点对应数据信息，例如销售点的地址、销售的货品有哪些、编辑销售点在google地图上的位置，帮助更全面的了解销售点的详细情况。
                            </p> 
                        </div>
                   </section> 
                   <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>销售记录管理</h3> 
                            <p> 
                               对销售记录进行管理，包括添加/删除销售记录、编辑销售记录内容、提交销售记录。也可以查看历史销售记录或将销售纪录以图表形式显示，便于直观查看。
                            </p> 
                        </div>
                   </section> 
                   <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>用户管理</h3> 
                            <p> 
                               对用户进行管理，包括添加/删除用户、编辑用户信息、修改用户权限。只有管理员能使用该功能。
                            </p> 
                        </div>
                   </section> 
                   <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>评分报告管理</h3> 
                            <p> 
                               对评分报告进行管理，包括生成/删除评分报告、编辑评分报告。可以在这里查看各个销售点的评分情况及历史评分数据。
                            </p>
                        </div>
                   </section> 
                   <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>评分条目管理</h3> 
                            <p> 
                              对评分条目进行管理，包括添加/删除评分条目、编辑评分条目内容、修改评分条目分值范围。使用企业可以按自己的需求增加或删除某些评分条目。
                            </p> 
                       
                        </div>
                   </section> 
                    <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>商品管理</h3> 
                            <p> 
                              对评分条目进行管理，包括添加/删除评分条目、编辑评分条目内容、修改评分条目分值范围。使用企业可以按自己的需求增加或删除某些评分条目。
                            </p> 
                       
                        </div>
                   </section> 
                    <section class="grid_12"> 
                        <div class="message info"  style="text-align:left">
                            <h3>商品类型管理</h3> 
                            <p> 
                             对商品类型进行管理，包括添加/删除商品类型、编辑商品类型信息。在产品分类中可以添加或删除对应的产品。
                            </p> 
                       
                        </div>
                   </section> 