@{
    ViewBag.Title = "商品分类";
}
 
 <div class="grid_12">
    
     <div id="demo" class="clearfix"> 
            @Html.DataTables((SalesManagementSystem.Models.DataTables)ViewBag.DataTable, "<a href='" + Url.Action("Edit") + "/{0}'>编辑</a>" + "|" + "<a href='" + Url.Action("Details") + "/{0}'>详细</a>" + "|" + "<a href='" + Url.Action("Delete") + "/{0}'>删除</a>" + "|" + "<a href='" + Url.Action("ShowCommodities") + "/{0}'>显示该类商品</a>")
      </div> 
     <div class="form-action clearfix">
        <input type="button" value = "增加新商品分类" onClick="location.href='@Url.Action("Create", "Category")'"/>
    </div>
      
</div> 


