@{
    ViewBag.Title = "About";
}
                    <div class="grid_12">

                        <div id="demo" class="clearfix"> 
@Html.DataTables((SalesManagementSystem.Models.DataTables)ViewBag.DataTable)
                        </div> 
                    </div> 