<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

	<context-param>
		<param-name>page-size</param-name>
		<param-value>3</param-value>
	</context-param>

	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>onlineBook.filter.AuthFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>onlineBook.filter.CharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>onlineBook.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>onlineBook.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCartServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchBookServlet</servlet-name>
		<servlet-class>onlineBook.servlet.SearchBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowByCategoryServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowByCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowBookDetailServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowBookDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>onlineBook.servlet.AddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteBookServlet</servlet-name>
		<servlet-class>onlineBook.servlet.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyUserServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ModifyUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>onlineBook.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddShippingInfoServlet</servlet-name>
		<servlet-class>onlineBook.servlet.AddShippingInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCreditCardServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowCreditCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCreditCardServlet</servlet-name>
		<servlet-class>onlineBook.servlet.AddCreditCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmUserOrderServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ConfirmUserOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowLoginServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowUserOrderServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ShowUserOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyCreditCartServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ModifyCreditCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyShippingInfoServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ModifyShippingInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeQtyServlet</servlet-name>
		<servlet-class>onlineBook.servlet.ChangeQtyServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>onlineBook.servlet.LogoutServlet</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>AuthImageServlet</servlet-name>
		<servlet-class>onlineBook.servlet.AuthImageServlet</servlet-class>
	</servlet>




	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCartServlet</servlet-name>
		<url-pattern>/servlet/ShowCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBookServlet</servlet-name>
		<url-pattern>/servlet/SearchBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowByCategoryServlet</servlet-name>
		<url-pattern>/servlet/ShowByCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowBookDetailServlet</servlet-name>
		<url-pattern>/servlet/ShowBookDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/servlet/AddBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBookServlet</servlet-name>
		<url-pattern>/servlet/DeleteBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyUserServlet</servlet-name>
		<url-pattern>/private/servlet/ModifyUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/servlet/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddShippingInfoServlet</servlet-name>
		<url-pattern>/private/servlet/AddShippingInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCreditCardServlet</servlet-name>
		<url-pattern>/private/servlet/ShowCreditCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCreditCardServlet</servlet-name>
		<url-pattern>/private/servlet/AddCreditCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmUserOrderServlet</servlet-name>
		<url-pattern>/private/servlet/ConfirmUserOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowLoginServlet</servlet-name>
		<url-pattern>/servlet/ShowLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUserOrderServlet</servlet-name>
		<url-pattern>/private/servlet/ShowUserOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyCreditCartServlet</servlet-name>
		<url-pattern>/private/servlet/ModifyCreditCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyShippingInfoServlet</servlet-name>
		<url-pattern>/private/servlet/ModifyShippingInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeQtyServlet</servlet-name>
		<url-pattern>/servlet/ChangeQtyServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/private/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthImageServlet</servlet-name>
  	<url-pattern>/servlet/AuthImageServlet</url-pattern>
  </servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>servlet/IndexServlet</welcome-file>
	</welcome-file-list>


	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
