@{
    ViewBag.Title = "销售记录管理";
}
         
    <div class="grid_12">
        <div id="demo" class="clearfix"> 
            @Html.DataTables((SalesManagementSystem.Models.DataTables)ViewBag.DataTable, "<a href='" + Url.Action("Display") + "/{0}'>查看销售记录</a>")
        </div> 
        <div class="form-action clearfix">
            <input type="button" value = "增加新销售记录" onClick="location.href='@Url.Action("Create", "SalesRecord")'"/>
            
        </div>
</div>